<div class="container main-container">
  <h4>Cadastro</h4>
  <hr />

  <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">

    <div class="form-horizontal">

      <div class="form-group">
        <label for="home" class="col-md-2 control-label"> Nome Completo </label>
        <div class="col-md-10">
          <input 
            type="text" 
            class="form-control" 
            id="nome" 
            placeholder="Nome" 
            formControlName="nome"
            [ngClass]="{
              'is-invalid': displayMessage.nome,
              'is-valid': cadastroForm.get('nome').valid
            }"
          />
          <span 
            class="text-danger" 
            *ngIf="displayMessage.nome">
            <p [innerHTML]="displayMessage.nome"></p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">CPF</label>
        <div class="col-md-10">
            <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}" [ngClass]="{'is-invalid': displayMessage.cpf, 'is-valid': cadastroForm.get('cpf').valid }" />

            <span class="text-danger" *ngIf="displayMessage.cpf">
                <p [innerHTML]="displayMessage.cpf"></p>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">E-mail</label>
        <div class="col-md-10">
            <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email, 'is-valid': cadastroForm.get('email').valid }" />
            <span class="text-danger" *ngIf="displayMessage.email">
                <p [innerHTML]="displayMessage.email"></p>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Senha</label>
        <div class="col-md-10">
            <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)" formControlName="senha" [ngClass]="{'is-invalid': displayMessage.senha, 'is-valid': cadastroForm.get('senha').valid }" />
            <span class="text-danger" *ngIf="displayMessage.senha">
                <p [innerHTML]="displayMessage.senha"></p>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Confirme a Senha</label>
        <div class="col-md-10">
            <input class="form-control" id="senhaConf" type="password" placeholder="Confirme a Senha (requerido)" formControlName="senhaConf" [ngClass]="{'is-invalid': displayMessage.senhaConf, 'is-valid': cadastroForm.get('senhaConf').valid }" />
            <span class="text-danger" *ngIf="displayMessage.senhaConf">
                <p [innerHTML]="displayMessage.senhaConf"></p>
            </span>
        </div>
    </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            
            <button 
              class="btn btn-success" 
              id="registrar" 
              type="submit" 
              [disabled]="!cadastroForm.valid"
            > 
              Registrar
            </button>

          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <p>Formulario valido: {{ cadastroForm.valid }}</p>
          <p>Formulario Tocado: {{ cadastroForm.touched }}</p>
          <p>Formulario Sujo: {{ cadastroForm.dirty }}</p>
          <p>Formulario: {{ formResult }}</p>
        </div>
      </div>

    </div>
  </form>

</div>